<div class="container py-5 my-2">
  <h1 class="text-center text-decoration-underline">Prueba Quantum</h1>
</div>
<div class="container-fluid">
  <div class="row p-5">
    <div class="container col-sm-4 text-center border border-3" *ngIf="checkLog() == null">
      <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
    </div>
    <div class="container col-sm-4 text-center border border-3">
      <a class="nav-link" [routerLink]="['/usuarios']" [routerLinkActive]="['active']">Listar usuarios</a>
    </div>
    <div class="container col-sm-4 text-center border border-3" *ngIf="checkLog() != null">
      <a class="nav-link" (click)="getUserDelogged()">Desconectar</a>
    </div>
  </div>
