<div class="login container my-2">
  <form class="text-center p-5" method="post">
    <h1>Login</h1>
    <div class="form-outline mb-4">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required"
        class="form-control" />


    </div>
    <div class="form-outline mb-4">
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required"  class="form-control"  />
    </div>
    <button type="submit" (click)="login()" class="btn btn-primary btn-block mb-4 btn-lg">Log in</button>

  </form>

</div>
